In [1]:
from __future__ import print_function

import sklearn

In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
plt.style.use('ggplot')

%matplotlib inline
%config InlineBackend.figure_format='retina'

# Train the ANNs

In [3]:
costs = pd.read_csv("~/code/fifteen-puzzle/data/datasets/15-costs-v1.csv", nrows=6000)
costs.shape

(6000, 17)

In [4]:
costs.head()

    0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  cost
0  13   4   7  15   8   0   2   1   9   6  10  14   3  12   5  11    56
1  10   2   4  12   3  13   8   0   1   5   6   7  14   9  11  15    34
2   8  15  11  14  13   5   6   7   4   9  12   0   1   2  10   3    59
3   1   0  10   6   2   3  14   8   9   7   4  13   5  11  12  15    43
4   1   5   6   8   3   4   9  14  11  10   2  12  13  15   0   7    41

In [5]:
costs.sample(10000).cost.hist(bins=20);

ValueError: Cannot take a larger sample than population when 'replace=False'

In [6]:
X_raw = costs.iloc[:,:-1].values
y = costs['cost'].values

In [7]:
X = np.apply_along_axis(lambda x: np.eye(16)[x].ravel(), 1, X_raw)

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.2, random_state=42)

In [9]:
# del X, y

In [10]:
from sklearn.ensemble import RandomForestRegressor

forest = RandomForestRegressor(random_state=42,
                               n_estimators=200)

In [11]:
%%time

forest.fit(X_train, y_train)

CPU times: user 11.9 s, sys: 49 ms, total: 11.9 s
Wall time: 11.9 s

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=200,
                      n_jobs=None, oob_score=False, random_state=42, verbose=0,
                      warm_start=False)

In [12]:
y_pred = forest.predict(X_valid)

In [13]:
from sklearn.metrics import mean_squared_error

mean_squared_error(y_pred, y_valid)

28.778874583333334

In [14]:
import pickle

with open('../../data/random-forests/random-forest-regressor-6000.pkl', 'wb') as f:
    pickle.dump(forest, f)